body {background-color:#c0fed7;}
header{background-color:#50f9a0;padding:15px 15px;text-align:center; height:150px;}
footer{background-color:#50f9a0; text-align:center; padding:10px; margin-top:7px; color: black; font-size:0.8em;}
#navigation {float: left; width: 100%; background: #0B4353;} 
#navigation ul{margin: 0; padding: 0;}	 
#navigation ul li {list-style-type: none; display: inline;} 
#navigation li a {display: block; float: left; text-decoration: none; font: 13px Arial, Helvetica, sans-serif; text-transform: uppercase; padding: 5px 10px; color: #FFFF33;   border-right: 1px solid #fff;}	
#navigation li a:hover {background: #FFCC00; color: red; }

.slick-slider .slick-list .slick-track img{
    margin: 10px;
}